<div class="col-lg-6">
    <label for="name">{{t.name}}</label>
    <input type="text" name="name" id="{{prefix}}name" class="form-control" required>

    <label class="mt-2" for="email">{{t.email}}</label>
    <input type="text" name="email" id="{{prefix}}email" class="form-control" required>

    <label class="mt-2" for="phone">{{t.phone}}</label>
    <input type="text" name="phone" id="{{prefix}}phone" class="form-control" required>

    <label class="mt-2" for="encrypted_password">{{t.password}}</label>
    <input type="password" name="encrypted_password" id="{{prefix}}password" class="form-control" minlength="6" required>

    <label class="mt-2" for="repassword">{{t.repassword}}</label>
    <input type="password" name="repassword" id="{{prefix}}repassword" class="form-control" minlength="6" required>
</div>

<div class="col-lg-6">
    <label for="avatar">{{t.avatar}}</label>
    <input type="text" name="avatar" id="{{prefix}}avatar" class="form-control" required>

    <label class="mt-2" for="description">{{t.description}}</label>
    <input type="text" name="description" id="{{prefix}}description" class="form-control" required>

    <label class="mt-2" for="role_id">{{t.role}}</label>
    <select name="role_id" id="{{prefix}}role_id" class="form-select">
        {{#each roles}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <label class="mt-2" for="status">{{t.status}}</label>
    <select name="status" id="{{prefix}}status" class="form-select">
        <option value="0">{{t.close}}</option>
        <option value="1">{{t.active}}</option>
    </select>

    <label class="mt-2" for="plan_id">{{t.plan}}</label>
    <select name="plan_id" id="{{prefix}}plan_id" class="form-select">
        {{#each plans}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
</div>
